# Python
backend/__pycache__/
backend/venv/
backend/.env
backend/.pytest_cache/
*.pyc

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store
